{% extends 'base_general.html' %}

{% load static %} {% load sass_tags %} {% load extras %}
{% block css_block %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/datatables.scss' %}">
{% endblock %}
{% block bookmark %}
    {% include 'include/bookmark_list.html' %}
{% endblock %}
{% block page_content %}
    <div class="row card">
        <div class="container card-body form-builder">
            <table id="list_result" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>File</th>
                    <th>Check time</th>
                </tr>
                </thead>
                <tbody>

                {% for file in object_list %}
                    <tr>
                        <td>{{ file.pk }}</td>
                        <td><a href="{{ view.url_path }}?file={{ file.pk }}">{{ file.file_name }}</a></td>
                        <td>{{ file.created_at |date:"H:i:s m/d/Y" }}</td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
            {% include 'include/table_paging.html' %}
        </div>
    </div>

{% endblock %}
{% block plugin_js_block %}
    {{ block.super }}
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
    <script src="{% static 'assets/js/sheetjs.js' %}"></script>
    <script src="{% static 'assets/js/jquery.table2excel.js' %}"></script>
{% endblock %}
{% block page_js %}
    {{ block.super }}
    {% include 'include/script/script_init_table.html' %}
    {% include 'include/script/script_table_paging.html' %}
    {% include 'include/script/script_export_to_excel.html' with table_id='list_result' %}
{% endblock %}